body {
  font-family: "Helvetica Neue", arial, sans-serif;
}

.container {
  width: 660px;
  margin: 0 auto;
}

section {
  border-bottom: 1px solid #808080;
}

h1 {
  letter-spacing: .5px;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px;
}

h2 {
  color: #808080;
  text-transform: uppercase;
  font-size: 1.3em;
  margin-bottom: 5px;
}

h3 {
  color: #0D0D0D;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 5px;
}

p {
  color: #5A5A5A;
  margin-top: 5px;
}

a {
  text-decoration: none;
}

.time-span {
  font-style: italic;
  font-size: .8em;
  float: right;
  margin-top: 20px;
}

.job-title {
  font-style: italic;
}

.contact-links {
  list-style: none;
  padding: 0px;
}

.contact-links li {
  text-indent: 0;
  display: inline;
}

.contact-links a {
  text-decoration: none;
}

.eduction-title {
  display: inline-block;
}

#contact-section {
  margin: 0 auto; 
  text-align: center; 
}